/* SearchSection.css */
.search-section {
    position: absolute;
    top: 50;
    left: 0;
    padding: 10px;
    background-color: #ffffff;
    width: 26.5%;
    height: 15%;
    margin-left: 15%;
    font-weight: bold;
    color:white;
  }
  .address-container{
  display: flex;
  justify-content: center;
  flex-direction:row;
  max-height: 150px; /* 최대 높이 설정, 원하는 값으로 조절하세요 */
  overflow-y: auto;
  background-color: #cfcfcf;
  }
  .main-address,
  .sub-address {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #cfcfcf;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    width:100%;
  }
  
  li {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    display: flex ;
    justify-content: center;

  }
  
  li:hover {
    background-color: #2196f3;
    color: white;
  }
  
  .selected {
    background-color: #2196f3;
    color: rgb(255, 255, 255);
  }
  
  .main-address li:hover,
.main-address .selected {
  background-color: #f3f3f3;
  color: #2196f3;
}

.address-container::-webkit-scrollbar {
  width: 6px; /* 스크롤 바의 너비 설정 */
}

.address-container::-webkit-scrollbar-thumb {
  background-color: #2196f3; /* 스크롤 바의 색상 설정 */
  border-radius: 5px; /* 둥근 형태로 만들기 */
  height: 10px; /* 스크롤 바의 높이 설정 */
}

.address-container::-webkit-scrollbar-track {
  background-color: #cfcfcf; /* 스크롤 바 트랙의 색상 설정 */
}